# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [1]:
# Write your answer here
lst = [[1,2,3], [4,5], [6,7,8,9]]

for i in lst:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [5]:
# Write your answer here
lst2 = [[10,20], [30], [5, 7, 8]]

sum = 0

for i in lst:
    for j in i:
        sum += j

print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [7]:
# Write your answer here
lst2 = [[10,20], [30], [5, 7, 8]]
count = 0

for i in lst2:
    for j in i:
        if j %2 == 0:
            count +=1
print(count)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [9]:
# Write your answer here
lst4 = [['hello', 'world'], ['python']]
for i in range(len(lst4)):
    for j in range(len(lst4[i])):
        lst4[i][j] = lst4[i][j].upper()
print(lst4)

[['HELLO', 'WORLD'], ['PYTHON']]

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [1]:
# Write your answer here
marks = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]

for sub in marks:
    print(sum(sub))

255
210
259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [3]:
# Write your answer here
lst = [[10, 60, 55], [20, 90], [51, 30]]

result = []

for i in lst:
    for j in i:
        if j > 50:
            result.append(j)

print(result)

[60, 55, 90, 51]

## **7. Find the largest number inside a nested list.**

In [4]:
# Write your answer here
lst7= [[10,20], [50, 5], [7, 99]]

max = 0

for i in lst7:
    for j in i:
        if j > max:
            max = j

print(max)

99

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [ ]:
# Write your answer here
lst = [[1,2], [3,4], [5]]

flat = []

for sub in lst:
    for num in sub:
        flat.append(num)
print(flat)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [ ]:
# Write your answer here
lst9=[[80, -62, 85], [-80, 70, 35], [49, 92, -65]]
for i in range (len(lst9)): #outer list 
    for j in range (len(lst9[i])):  #inner list value
        if(lst9[i][j]<0):    #outer inner  < zero condition
            lst9[i][j]=0    # less than zero then replace with zero 
print(lst9)

[[80, 0, 85], [0, 70, 35], [49, 92, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [ ]:
# Write your answer here
lst10 = [[1,2,3], [4,5], [6]]
print(len(lst10))

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [ ]:
# Write your answer here
stud11={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
for i, j in stud11.items():
    print(i, j['age'])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [ ]:
# Write your answer here
dict12={
  'A': {'age': 25,'marks': 50},
  'B': {'age': 23, 'marks': 70},
    'C': {'age': 34, 'marks': 45},
      'D': {'age': 16, 'marks': 85},
}
for key, val in dict12.items():
    val['marks']+=5

print(dict12)

{'A': {'age': 25, 'marks': 55}, 'B': {'age': 23, 'marks': 75}, 'C': {'age': 34, 'marks': 50}, 'D': {'age': 16, 'marks': 90}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [18]:
# Write your answer here
dict13={
     'A': {'age': 15, 'marks': 17},
  'B': {'age': 16, 'marks': 11}
}
for key , val in dict13.items():
    for i,j in val.items():
        print(f' {i}')

 age
 marks
 age
 marks

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [20]:
# Write your answer here
dict14={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count=0
for key , val in dict14.items():
    if val['math'] > 80:
        count+=1
print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [24]:
# Write your answer here
dict15 ={   
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
new_dict15 = { }

for key, val in dict15.items():
    if val['age'] > 15:
       new_dict15[key] = val['age']

print(new_dict15)

{'B': 16}

## **16. Find which student scored highest in science.**

In [6]:
# Write your answer here
dict16={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
mx_key=None
mx_val=0
for i,j in dict16.items():
  if j["science"]>mx_val:
    mx_val=j["science"]
    mx_key=i
print(mx_key,":",mx_val)

A : 90

## **17. Print employees who belong to the HR department from this dictionary.**

In [7]:
# Write your answer here
dict17 = {
    "E101": {
        "name": "Abhi",
        "age": 30,
        "department": "Marketing",
        "salary": 60000
    },
    "E102": {
        "name": "Raaj",
        "age": 28,
        "department": "IT",
        "salary": 55000
    },
    "E103": {
        "name": "Avi",
        "age": 25,
        "department": "HR",
        "salary": 50000
    }
}

for i,j in dict17.items():
    if j["department"]=="HR":
        print(i,":",j)

E103 : {'name': 'Avi', 'age': 25, 'department': 'HR', 'salary': 50000}

## **18. Delete all entries where the status is 'inactive'.**

In [9]:
# Write your answer here
dict18 = {
    "U101": {
        "name": "Abhiraj",
        "age": 25,
        "email": "abhiraj@example.com",
        "status": "active"
    },
    "U102": {
        "name": "Rony",
        "age": 22,
        "email": "Rony@example.com",
        "status": "inactive"
    },
    "U103": {
        "name": "Gaurav",
        "age": 27,
        "email": "gaurav@example.com",
        "status": "active"
    },
    "U104": {
        "name": "Ragu",
        "age": 24,
        "email": "ragu@example.com",
        "status": "inactive"
    }
}

for i,j in dict18.items():
    if j["status"]=="inactive":
        print(i,":",j)

U102 : {'name': 'Rony', 'age': 22, 'email': 'Rony@example.com', 'status': 'inactive'}
U104 : {'name': 'Ragu', 'age': 24, 'email': 'ragu@example.com', 'status': 'inactive'}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [15]:
# Write your answer here
dict19 = {
    "WIPRO": {
        "qty": 10,
        "value": 3500   
    },
    "INFY": {
        "qty": 15,
        "value": 1500
    },
    "RELIANCE": {
        "qty": 8,
        "value": 2800
    },
    "HDFCBANK": {
        "qty": 20,
        "value": 1600
    }
}

tot = 0
for val in dict19.values():
    tot += val["qty"]
print(tot)

53

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here
data = {
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
}
new_data = {}
for i, j in data.items():
    new_data[i] = {}
    for key, value in j.items():
        new_data[i][key.upper()] = value

print(new_data)

{'A': {'AGE': 15, 'GRADE': 10}, 'B': {'AGE': 16, 'GRADE': 11}}