### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [3]:
dict ={"name": "Abhiraj", "age": 25, "city": "Mumbai"}
print(dict)

{'name': 'Abhiraj', 'age': 25, 'city': 'Mumbai'}

### 2. Create a dictionary and print the value of a specific key.

In [5]:
dict2 = { 'a': 1, 'b': 2, 'c': 3 }
print(dict2['b'])

2

### 3. Create a list of 5 numbers and print the second element.

In [2]:

list1 = [10, 20, 30, 40, 50]
print(list1[1])

20

### 4. Add an element "banana" to an existing list.

In [4]:
list4 = ["apple", "cherry"]
list4.append("banana")
print(list4)

['apple', 'cherry', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [5]:
lst5 = ["banana", "orange", "kiwi", "cherry"]
lst5.insert(2,"apple")
print(lst5)

['banana', 'orange', 'apple', 'kiwi', 'cherry']

### 6. Remove the element 10 from a list.

In [8]:
lst6 = [1, 2, 3, 4, 10]
lst6.remove(10)
print(lst6)

[1, 2, 3, 4]

### 7. Create a tuple with 4 elements and print the last one.

In [11]:
tpl7 = (5, 10, 15, 20)
print(tpl7[-1])

20

### 8. Convert a tuple into a list.

In [13]:
tpl8= (5, 10, 15, 20)
lst8 = list(tpl8)
print(lst8)

[5, 10, 15, 20]

### 9. Find the length of a given tuple.

In [14]:
tpl9= (5, 10, 15, 20)
print(len(tpl9))

4

### 10. Store 5 student names in a list and print them using a loop.

In [15]:
lst10 = ['abhiraj','harish','krishna','gaurav','rohan']

for i in lst10:
    print(i)

abhiraj
harish
krishna
gaurav
rohan

### 11. Create two lists and concatenate them.

In [16]:
lst111 = [2, 4, 6, 8, 10]
lst112 = [1, 3, 5, 7, 9]
con= lst111 + lst112
print(con)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

### 12. Reverse a list without using reverse().

In [20]:
lstrev = [1, 2, 3, 4, 5]
print(lstrev[::-1])

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [22]:
lst133 = [10, 20, 30, 40, 50]
lst133.sort(reverse=True)
print(lst133)

[50, 40, 30, 20, 10]

### 14. Create a set with 5 numbers and add a new number.

In [41]:
ss4 = {1, 2, 3, 4, 5}
ss4.add(60)
print(ss4)

{1, 2, 3, 4, 5, 60}

### 15. Remove an element from a set using discard().

In [42]:
set15= {10, 20, 30, 40, 50}
set15.discard(30)
print(set15)

{50, 20, 40, 10}

### 16. Find the union of two sets.

In [45]:
set161= {1, 2, 3, 4, 5}
set162= {4, 5, 6, 7, 8}
u = set161 | set162       #set161.union(set162)
print(u)

{1, 2, 3, 4, 5, 6, 7, 8}

### 17. Find the intersection of two sets.

In [46]:
set171= {1, 2, 3, 4, 5}
set172= {4, 5, 6, 7, 8}
i = set171 & set172       
print(i)

{4, 5}

### 18. Check if a value exists in a set.

In [51]:
set18= {1, 2, 3, 4, 5}
5 in set18

True

### 19. Create a set and clear all elements.

In [54]:
set19= {1, 2, 3, 4, 5}
set19.clear()
print(set19)

set()

### 20. Convert a list with duplicate values into a set.

In [1]:
lst20 = [1, 2, 2, 3]
set20 = set(lst20)
print(set20)

{1, 2, 3}

### 21. Create a dictionary and update the value of a key.

In [3]:
dict21 = {"name": "Abhiraj", "age": 24, "city": "Mumbai"}
dict21["age"] = 25
print(dict21)

{'name': 'Abhiraj', 'age': 25, 'city': 'Mumbai'}

### 22. Delete a key-value pair from a dictionary.

In [4]:
dict22 = {"name": "Abhiraj", "age": 25, "city": "Mumbai"}
del dict22["city"]
print(dict22)

{'name': 'Abhiraj', 'age': 25}

### 23. Print all keys of a dictionary.

In [8]:
dict23= {"name": "Abhiraj", "age": 25}
print(dict23.keys())

dict_keys(['name', 'age'])

### 24. Print all values of a dictionary.

In [9]:
dict24= {"name": "Abhiraj", "age": 25}
print(dict24.values())

dict_values(['Abhiraj', 25])

### 25. Loop through a dictionary and print key and value.

In [10]:
dict25 = {"name": "Abhiraj", "age": 25}
for k, v in dict25.items():
    print(k, v)

name Abhiraj
age 25

### 26. Create a list of numbers and print only even numbers.

In [13]:
list26 = [10, 20, 30, 40, 50]
for e in list26:
    if e % 20 == 0:
        print(e)

20
40

### 27. Create a tuple and unpack it into 3 variables.

In [17]:
tpl27 = (1, 2, 3)
a,b,c= tpl27
print(a)
print(b)
print(c)

1
2
3

### 28. Check if a number is greater than 10 using a comparison operator.

In [ ]:
a=20
b=10
print(a>b)

True

### 29. Use the in operator to check if "python" exists in a list.

In [19]:
list29 = ['java', 'python', 'SQL', 'ruby']
print('python' in list29)

True

### 30. Use the and operator in a condition.

In [24]:
if 10>=10 and 25<200:

    print("conditions are true")

else:
    print("conditions are false")

conditions are true

### 31. Use the % operator to check if a number is divisible by 5.

In [26]:
if 99 % 5 == 0:
    print("Divisible by 5")
else :
    print("Not divisible by 5")

Not divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [31]:
c=2**5
print(c)

32

### 33. Create two numbers and compare them using >=.

In [33]:
a=300
b=200
print(a>=b)

True

### 34. Create a list and remove the last element using pop().

In [34]:
lst34= [5, 10, 15, 20, 25]
lst34.pop()
print(lst34)

[5, 10, 15, 20]

### 35. Create a list and print its first and last elements.

In [38]:
lst35 = [100, 200, 300, 400, 500]
print(lst35[0],lst35[-1])

100 500

### 36. Count how many times "apple" appears in a list.

In [39]:
list36 = ['apple', 'banana', 'cherry', 'apple']
list36.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [42]:
tpl37 = (10, 20, 30, 40, 50)
if 40 in tpl37:
    print("Yes, 40 is in the tuple")
else:
    print("No, 40 is not in the tuple")

Yes, 40 is in the tuple

### 38. Convert a dictionaryâ€™s keys into a list.

In [43]:
dict38 = {"name": "Abhiraj", "age": 25, "city": "Mumbai"}
lst38= list(dict38.keys())
print(lst38)

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [44]:
dict39 = {"name": "Abhiraj", "marks": 25, "subject": {'maths': 20, 'science': 15}}
print(dict39)

{'name': 'Abhiraj', 'marks': 25, 'subject': {'maths': 20, 'science': 15}}

### 40. Merge two dictionaries into one.

In [52]:
dict40 = {"x": "Abhiraj", "y": 25, "z": "Mumbai"}
dict401 = {"name": "akash", "age": 25, "city": "pune"}
dict4011= dict40 | dict401
print(dict4011)

{'x': 'Abhiraj', 'y': 25, 'z': 'Mumbai', 'name': 'akash', 'age': 25, 'city': 'pune'}

### 41. Create a set and print the number of elements.

In [53]:
s = {1,2,3}
print(len(s))

3

### 42. Create a dictionary and print all items using items().

In [54]:
dict43 = {"name": "Abhiraj", "age": 25, "city": "Mumbai"}
print(dict43.items())

dict_items([('name', 'Abhiraj'), ('age', 25), ('city', 'Mumbai')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [4]:
lst43= [1,2,3,4,5,6,7,8,9,10] 
lst431 = [  i**2 for i in lst43 ]
#for i in lst43:
    #print(i**2)
print(lst431)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 44. Multiply two numbers and print the result using *.

In [5]:
a = 10
b = 20
c= a * b
print(c)

200

### 45. Divide two numbers and print the results using / and //.

In [7]:
print(30 / 3)
print(60 // 3)

10.0
20

### 46. Create a list and replace the element at index 1.

In [14]:
lst46 = [1,2,3,4,5]
lst46[1]= 10
print(lst46)

[1, 10, 3, 4, 5]

### 47. Create a tuple from user input (3 values).

In [16]:
x = input("Enter the value: ")
y = input("Enter the value: ")
z = input("Enter the value: ")
tpl47 = (x, y, z)
print(tpl47)

('1', '2', '3')

### 48. Create a set from a string and print all unique characters.

In [24]:
set48 = set("abhi")
print(set48)

{'h', 'b', 'i', 'a'}

### 49. Use the is operator to compare two variables.

In [26]:
a = 100
b = a
print(a is b)

True

### 50. Create a dictionary and check if a key exists using in.

In [27]:
dict50 = {"name": "Abhiraj", "age": 25}
'name' in dict50

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [28]:
num = 15
print(num > 10 and num < 50)

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [29]:
num1= 30
print(num1 < 5 or num1 > 20)

True

### 53. Use not to check if a list is not empty.

In [32]:
lst53 = [100]
print(not len(lst53) == 0)

True

### 54. Write code to check if a character is a vowel using or.

In [34]:
ch = 'o'

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print("Vowel")
else:
    print("Not a vowel")

Vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [36]:
dict55 = {"name":"Abhiraj", "age":20}
print("name" in dict55 and "age" in dict55)

True

### 56. Verify if a set contains either 10 or 20.

In [37]:
st56 = {5,10,15}
print(10 in st56 or 20 in st56)

True

### 57. Use not to check if a number is not equal to 100.

In [38]:
num57 = 50
print(num57 != 100)

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [39]:
marks = 60
attendance = 80
print(marks > 35 and attendance > 75)

True

### 59. Use logical operators to check if a number is positive and even.

In [42]:
number = 44
print(number > 0 and number %2==0)

True

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [43]:
tpl60 = (10, 20, 30, 40, 50)
print(len(tpl60) > 3 or 0 in tpl60)

True