# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
person = {"name": "Abhiraj", "age": 25, "city": "Navi Mumbai"} 
print(person)

{'name': 'Abhiraj', 'age': 25, 'city': 'Navi Mumbai'}

2. Create a dictionary and print the value of a specific key.

In [2]:
person1 = {"name": "Harish", "age": 26, "city": "Pune"} 
print(person1["age"])

26

3. Make a dictionary and add a new key-value pair to it.

In [4]:
person3 = {"name": "Jethalal", "age": 40} 
person3["city"] = "Mumbai" 
print(person3)

{'name': 'Jethalal', 'age': 40, 'city': 'Mumbai'}

4. Create a dictionary and change the value of an existing key.

In [5]:
person4 = {"name": "Jethalal", "age": 40}  
person4["age"] = "41"  
print(person4)

{'name': 'Jethalal', 'age': '41'}

5. Create a dictionary and remove one key using pop().

In [34]:
person5 = {"name": "Abhiraj Kurade", "age": 25, "city": "Navi Mumbai"} 
person5.pop("age") 
print(person5)

{'name': 'Abhiraj Kurade', 'city': 'Navi Mumbai'}

6. Create a dictionary and remove the last inserted item using popitem().

In [31]:
person6 = {"name": "Ashu", "age": 24, "city": "Kokhapur"} 
person6.popitem() 
print(person6)

{'name': 'Ashu', 'age': 24}

7. Create a dictionary and print all the keys.

In [30]:
person7 = {"name": "Bobby", "age": 22, "city": "Kolhapur"} 
print(person7.keys())

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [29]:
person8 = {"name": "Bobby", "age": 22, "city": "Kolhapur"} 
print(person8.values())

dict_values(['Bobby', 22, 'Kolhapur'])

9. Create a dictionary and print all the key-value items.

In [25]:
person9 = {"name": "Omkar", "age": 28, "city": "Pune"} 
print(person9.items())

dict_items([('name', 'Omkar'), ('age', 28), ('city', 'Pune')])

10. Make a dictionary and check the number of items using len().

In [24]:
person10 = {"name": "Jackie", "age": 7, "city": "Kolhapur"} 
print(len(person10))

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [21]:
person11 = {"name": "Raj", "age": 33, "city": "Delhi"} 

print("country" in person11)  # False 

print("age" in person11)  # True

False
True

12. Create an empty dictionary and add two key-value pairs one by one.

In [17]:
person12 = {} 
person12["name"] = "SnaxxGaming" 
person12["age"] = 26
print(person12)

{'name': 'SnaxxGaming', 'age': 26}

13. Create a dictionary and update one keyâ€™s value using update().

In [16]:
person13 = {"name": "Kshitij", "age": 22} 
person13.update({"age": 24}) 
print(person13)

{'name': 'Kshitij', 'age': 24}

14. Create two dictionaries and combine them using update().

In [15]:
dict1 = {"name": "Rohit45", "age": 38} 
dict2 = {"city": "Mumbai", "country": "India"} 
dict1.update(dict2)
print(dict1)

{'name': 'Rohit45', 'age': 38, 'city': 'Mumbai', 'country': 'India'}

15. Make a dictionary and get the value of a key using get().

In [ ]:
person15 = {"name": "Abhiiraaj", "age": 26, "city": "Pune"} 
print(person15.get("city")) 
print(person15.get("country", "Not Found"))  # it will return 'Not Found' as 'country' key is not present in the dictionary

Pune
Not Found

16. Create a dictionary and print its type using type().

In [12]:
person16 = {"name": "Abhiii", "age": 20} 
print(type(person16))

<class 'dict'>

17. Create a dictionary and replace one value with a new one.

In [11]:
person17 = {"name": "Saurabh", "age": 31} 
person17["name"] = "Deepak" 
print(person17)

{'name': 'Deepak', 'age': 31}

18. Create a dictionary and clear all items using clear().

In [10]:
person18 = {"name": "Akash", "age": 28} 
person18.clear() 
print(person18)

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [9]:
no_dict = {1:"abc", 2:"def", 3:"ghi"}
print(no_dict)

{1: 'abc', 2: 'def', 3: 'ghi'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [8]:
person20 = {"name": "Harry", "age": 24} 
cp_person = person20 .copy() 
print(cp_person)

{'name': 'Harry', 'age': 24}