# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [1]:
lst=[1,2,3,4,5]
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [7]:
lst1=['apple','banana','grape']
lst1.insert(1,'orange')
print(lst1)

['apple', 'orange', 'banana', 'grape']

3. Create a list of names and remove one name from the list.

In [8]:
lst3=["Abhiraj","Harish","Gaurav"]
lst3.remove("Harish")
print(lst3)

['Abhiraj', 'Gaurav']

4. Create a list of 4 items and change the value at index 2.

In [9]:
items4=["pen","pencil","eraser","sharpener"]
items4[2]="penpencil"
print(items4)

['pen', 'pencil', 'penpencil', 'sharpener']

5. Make a list of numbers and print only the first three elements.

In [18]:
lst4=[10,20,30,40,50]
print(lst4[:3])

[10, 20, 30]

6. Create a list of colors and find the index of a specific color.

In [20]:
lst_color=['red','green','blue','yellow']
print(lst_color.index('blue'))

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [22]:
lst5=[1,2,5,4,5,6,5,7,5,5]
lst5.count(5)

5

8. Make a list of 6 items and delete the item at index 3.

In [25]:
lst6=['a','b','c','d','e','f']
del lst6[3]
print(lst6)

['a', 'b', 'c', 'e', 'f']

9. Create a list of animals and add three more animals using extend().

In [29]:
lst7=['lion','tiger','elephant']
lst8=['giraffe','zebra','monkey']
lst7.extend(lst8)
print(lst7)

['lion', 'tiger', 'elephant', 'giraffe', 'zebra', 'monkey']

10. Create a list and remove the last item using pop().

In [30]:
lst9=[3,1,4,2,5]
lst9.pop()

5

11. Create a list of prices and sort them in ascending order.

In [33]:
prices=[999, 88, 55, 777, 888]
prices.sort()
print(prices)

[55, 88, 777, 888, 999]

12. Make a list of countries and reverse the order of the list.

In [34]:
countries = ["India", "USA", "Brazil", "Germany", "Japan"]
countries.reverse()
print(countries)

['Japan', 'Germany', 'Brazil', 'USA', 'India']

13. Create a list of words and check if “apple” is in the list.

In [38]:
fruits_1= ["banana", "mango", "apple", "cherry", "grapes"]
fruits_1.count("apple")

1

14. Create a list of numbers and print the largest and smallest number.

In [40]:
numbers = [10, 45, 2, 88,55,99]
largest_no = max(numbers)
smallest_no = min(numbers)
print("Largest number is:", largest_no)
print("Smallest number is:", smallest_no)

Largest number is: 99
Smallest number is: 2

15. Make a list of 5 items and print each item using a loop.

In [41]:
list_items  = ["pen", "notebook", "eraser", "pencil", "marker"]
for item in list_items:
    print(item)

pen
notebook
eraser
pencil
marker

16. Create two lists and combine them into one list.

In [ ]:
list11= [1, 2, 3]
list22= [4, 5, 6]

c= list11 + list22
print(c)


#or 

list11.extend(list22)
print(list11)

[1, 2, 3, 4, 5, 6]

17. Make a list and replace the last item with a new value.

In [44]:
itm1 = ["apple", "banana", "cherry", "mango"]
itm1[-1] = "pineapple"
print(itm1)

['apple', 'banana', 'cherry', 'pineapple']

18. Create a list of numbers and print only the even numbers.

In [58]:
listofno= [11, 22, 33, 44, 55, 66, 77, 88, 99, 10] 
for num in listofno: 
    if num % 2 == 0:
        print(num)

22
44
66
88
10

19. Create a list and clear all items from the list.

In [59]:
fruits_lst= ["banana", "mango", "apple", "cherry", "grapes"]
fruits_lst.clear()
print(fruits_lst)

[]

20. Create a list of 5 values and copy it into another list.

In [60]:
list_og = [5, 10, 15, 20, 25]
new_list = list_og.copy()
print(new_list)

[5, 10, 15, 20, 25]