### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [4]:
for x in range(1,21):
    if x %2 == 0:
        print(x)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [5]:
str3 = "Python"

for a in str3:
    print(a)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [11]:
for squ in range(1,6):
        print(squ * squ)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [15]:
"""
lst5 = ["apple", "banana", "cherry"]
for i in lst5:
    print(i)

    """

#or 

my_list = [10, 20, 30, 40, 50]

for i in range(len(my_list)):
    print(my_list[i])

10
20
30
40
50

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [85]:
total = 0
for c in range(1, 51):
   total += c
print(total)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [ ]:
for i7 in reversed(range(1,11)):
    print(i7)

    #OR

for i in range(10, 0, -1): # start stop skip
    print(i)

10
9
8
7
6
5
4
3
2
1
10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [34]:

for i in range(1,11):
    if i+1:
        print(7 * i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [41]:
count = 0
for sr in "education":
    if sr in "aeiouAEIOU":
        count += 1
print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [ ]:
for i in range(1,30,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [45]:
t11 = "ABHIraJ KurAdE"
count = 0

for ch in t11:
    if ch.isupper():
        count += 1

print("Uppercase letters =", count)

Uppercase letters = 8

### 12. Create a new list that contains only the positive numbers from another list

In [48]:
number12 = [-15, 20, -13, 77, 0, 115, -98]
pos_list = []

for num in number12:
    if num >= 0:
        pos_list.append(num)

print("Positive Numbers:", pos_list)

Positive Numbers: [20, 77, 0, 115]

### 13. Print numbers from 1 to 10 using a while loop

In [52]:
x = 1

while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [54]:
x = 1

while x <= 50:
    if x % 5 == 0:
        print(x)
    x += 1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [ ]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [67]:
x = int(input("Enter The Number"))
while x != 0:
    print(" you entered number" , x)
    x = int(input("Enter The Number"))

print("Entered Number is Zero Program Stop")

 you entered number 12
 you entered number 2
 you entered number 3
 you entered number 4
 you entered number 6
 you entered number 8
 you entered number 9
Entered Number is Zero Program Stop

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [72]:
z = 1 
total = 0
while z <=10:
    total += z
    z += 1

print("Sum of the first 10 Natural Number =", total)

Sum of the first 10 Natural Number = 55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [80]:
Fruits = { "fruit": "apple", "prices": 200 }

for x in Fruits.keys():  
    print(x)

fruit
prices

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [83]:
dict19 = { "fruit": "apple", "prices": 200 }

for x in dict19.values():
    print(x)

apple
200

### 20. Print both keys and values of a dictionary using a for loop

In [84]:
dict20 = { "fruit": "apple", "prices": 200 }

for x in dict20.items():
    print(x)

('fruit', 'apple')
('prices', 200)

### 21. Count how many keys are in a dictionary using a for loop

In [87]:
dict21 = {"name" : "abhiraj", "marks": 90 }
count = 0
for key in dict21.keys():
    count+=1
    print(count)

1
2

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [91]:
dict22={"Apple":150,"Banana":60,"Apple2":120,"Pineapple":70}
for key in dict22.keys():
    if(key.startswith('A')):
        print(key)

Apple
Apple2

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [92]:
dict23={"Abhi":92,"Harry":85,"Ragu":72,"Jony":96}
for key,value in dict23.items():
    if(value>80):
        print(key,value)

Abhi 92
Harry 85
Jony 96

### 24. Given a dictionary, print the sum of all the values using a for loop

In [93]:
sum24=0
dict24={'a':1,'b':2,'c':3,'d':4,'e':5}
for key,value in dict24.items():
    sum24+=value
print(sum24)

15

### 25. Given a dictionary, find the key with the highest value using a for loop

In [4]:
dict25 = {"a": 45 , "b": 333, "c": 63 }
mx_key = None
mx_val = 0
for key,value in dict25.items():
    if value > mx_val:
        mx_val = value
        mx_key = key
    
print(mx_key)

b

### 26. Convert all dictionary keys into a list using a for loop

In [94]:
dict26={'a':1,'b':2,'c':3,'d':4,'e':5}
lst26=[]
for key in dict26:
    lst26.append(key)
lst26

['a', 'b', 'c', 'd', 'e']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [95]:
dict27={"Pen":len("Pen"),"paper":len("paper"),"Pencil":len("Pencil"),"Scale":len("Scale"),"Eraser":len("Eraser")}
for key,value in dict27.items():
    print(key,":",value)

Pen : 3
paper : 5
Pencil : 6
Scale : 5
Eraser : 6

### 28. Given a list of numbers, print only numbers greater than 10

In [98]:
lst28=[115,30,97,51,2,96,7,24,80,]
for i in range(len(lst28)):
    if lst28[i] >10:
        print(lst28[i])

115
30
97
51
96
24
80

### 29. Count how many elements in a list are integers using a for loop

In [96]:
cnt29=0
lst29=["abc",5,"def",8,"ghi",3,"jkl",7]
for i in range(len(lst29)):
    if  isinstance(lst29[i],int):
        cnt29+=1
print(cnt29)

4

### 30. Print the sum of all even numbers in a list using a for loop

In [99]:
lst30=[1,2,3,4,5,6,7,8,9]
sum30=0
for i in range(len(lst30)):
    if (lst30[i]%2==0):
        sum30+=lst30[i]
print(sum30)

20

### 31. Print the cube of each number in a list of 5 numbers

In [5]:
lst31 = [2,3,4,5,6,7]

for i in range(len(lst31)):
    print(lst31[i]**3)

8
27
64
125
216
343

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [6]:
str32 = "Python is fun"
ch1 = 0

for i in range(len(str32)):
    if str32[i]==" ":
        print(str32[ch1:i])
        ch1=i+1
print(str32[ch1:])

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [7]:
for i in range(1,4):
    print(i*5)

5
10
15

### 34. Print only names that start with 'A' from a list of names

In [8]:
lst34=["Abhiraj","Bobby","John","Rohan","Omkar","Gaurav"]
for nm in range(len(lst34)):
    if lst34[nm].startswith("A"):
        print(lst34[nm])

Abhiraj

### 35. Find the largest number in a list using a for loop

In [13]:
lst35=[818,433,433,612,7,221,9999,555]
maxnum=0
for i in range(len(lst35)):
    if lst35[i] > maxnum:
        maxnum=lst35[i]
print(maxnum)

9999

### 36. Print the index and value of each element in a list

In [14]:
lst35=[818,433,433,612,7,221,9999,555]
for i in range(len(lst35)):
    print(i,":",lst35[i])

0 : 818
1 : 433
2 : 433
3 : 612
4 : 7
5 : 221
6 : 9999
7 : 555

### 37. Create a dictionary with 5 students and their marks

In [15]:
dict37={"Abhiraj":92,"Rohit":85,"Ragu":72,"Gaurav":96,"Akash":82}
print(dict37)

{'Abhiraj': 92, 'Rohit': 85, 'Ragu': 72, 'Gaurav': 96, 'Akash': 82}

### 38. Use a for loop to print all student names

In [20]:
for i in dict37.keys():
    print(i)

Abhiraj
Rohit
Ragu
Gaurav
Akash

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [22]:
dict39={"Apple":100,"Banana":40,"Orange":110,"Pineapple":80}
for key in dict39:
    print(key,":",dict39[key])

Apple : 100
Banana : 40
Orange : 110
Pineapple : 80

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [23]:
dict40={"Pen":10,"Pencil":5,"Geometr Box":120,"Graph":10,"Scale":20}
for key,value in dict40.items():
    value=value + value*0.1
    print(key,value)

Pen 11.0
Pencil 5.5
Geometr Box 132.0
Graph 11.0
Scale 22.0

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [24]:
for key in list(dict40.keys()):
    if dict40[key] < 50:
        dict40.pop(key)
print(dict40)

{'Geometr Box': 120}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [27]:
dict42={"Physics":84,"Maths":92,"Chemistry":78,"English":90}
dict42["Electronics"]=87
print(dict42)


for key,value in dict42.items():
    print(key,":",value)

{'Physics': 84, 'Maths': 92, 'Chemistry': 78, 'English': 90, 'Electronics': 87}
Physics : 84
Maths : 92
Chemistry : 78
English : 90
Electronics : 87

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [31]:
dict43={"Abhi":22,"Raj":28,"HArry":25,"Gaurav":29,"Rony":30}
for key in dict43:
    dict43[key]+=1
dict43

{'Abhi': 23, 'Raj': 29, 'HArry': 26, 'Gaurav': 30, 'Rony': 31}

### 44. Print numbers from 0 to 9 using range()

In [32]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [33]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [36]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [37]:
lst47=["abc",5,"def",8,"ghi",3,"jkl",7]
print(len(lst47))

8

### 48. Print the length of a given string using len()

In [38]:
str48="ABHIRAJBAPUKURADE"
print(len(str48))

17

### 49. Use range() and len() to iterate over a list by index and print each element

In [40]:
lst49 = [1,2,3,4,5,6,7]
for i in range(len(lst49)):
    print(lst49[i])

1
2
3
4
5
6
7

### 50. Print the sum of numbers from 1 to 100 using range()

In [39]:
sum50=0
for i in range(1,101):
    sum50+=i
print(sum50)

5050