In [21]:
# 1. LIST OPERATIONS (Mutable)

fruits = ["apple", "banana", "cherry"]

In [15]:
#Access Elements

print(fruits[0])      # apple
print(fruits[-1])     # cherry

apple
cherry

In [22]:
#Add Elements

fruits.append("orange")        # Add at end
fruits.insert(3, "mango")      # Insert at index
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'orange']

In [6]:
#Remove Elements

fruits.remove("banana")   # remove by value
fruits.pop(1)             # remove by index
fruits.pop()              # remove last element
del fruits[0]             # delete element

In [ ]:
#Update Elements

fruits[0] = "kiwi"      # update index 0     
print(fruits)

['kiwi', 'mango', 'cherry', 'orange', 'orange']

In [ ]:
#List Slicing

print(fruits[1:3])

['mango', 'cherry']

In [7]:
#List Methods

numbers = [3, 1, 4, 2]
numbers.sort()            # [1, 2, 3, 4]
numbers.reverse()         # reverse list
print(len(numbers))       # length

4

In [8]:
# TUPLE OPERATIONS (Immutable)

t = (10, 20, 30)

In [ ]:
#Access Elements

print(t[0])     # 10

In [9]:
#Count & Index Methods


t = (1, 2, 2, 3)
print(t.count(2))   # 2
print(t.index(3))   # 3rd element index

2
3

In [13]:
#SET OPERATIONS (Unordered, no duplicates)


s = {1, 2, 3, 3}
print(s)   # {1, 2, 3}

{1, 2, 3}

In [14]:
#Add / Remove

s.add(4)
s.remove(2)
s.discard(5)    # No error if not found

In [18]:
#Set Operations


a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))          # {1,2,3,4,5}
print(a.intersection(b))   # {3}
print(a.difference(b))     # {1,2}
print(a.symmetric_difference(b)) # {1,2,4,5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [21]:
#Check Membership

print(5 in a)

print(1 in a)

False
True

In [25]:
#DICTIONARY OPERATIONS (key-value pairs)

student = {
    "name": "Abhiraj",
    "age": 24,
    "course": "BigData"      #creating a dictionary
}

In [26]:
#Access Values

print(student["name"])
print(student.get("course"))
print(student.get("age"))

Abhiraj
BigData
24

In [ ]:
#Add / Update
    
student["age"] = 25
student["city"] = "Mumbai"

In [28]:
#Delete

student.pop("city")
del student["course"]

In [29]:
#Dictionary Methods


print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values(['Abhiraj', 25])
dict_items([('name', 'Abhiraj'), ('age', 25)])